{% extends "layout.html" %}

{% block title %}
    booksearchresult
{% endblock %}

{% block main %}

    <h4>Your search results are below</h4>

    <h5> Click a book to see more book details or leave a review </h5>

    <p></p>

<p>search results by isbn matches</p>

<ul>

              {% for book in isbn_matches %}
                  <li>

                    <a href="{{ url_for('book', isbn=book.isbn, title=book.title, author=book.author, year=book.year, data=data) }}">
                        {{ book.title }} by {{ book.author }} with ISBN No. {{book.isbn}} published in the year {{book.year}}
                  </li>


                  {% else %}
                  <li>No results for search by ISBN</li>
              {% endfor %}
</ul>


<p>search results by Title matches</p>

  <ul>


              {% for book in title_matches %}
                  <li>
                      <a href="{{ url_for('book', isbn=book.isbn, title=book.title, author=book.author, year=book.year, data=data) }}">
                          {{ book.title }} by {{ book.author }} with ISBN No. {{book.isbn}} published in the year {{book.year}}
                      </a>
                  </li>

                  {% else %}
                  <li>No Reults for search by Title</li>
              {% endfor %}

  </ul>
<p>search results by author</p>
          <ul>

              {% for book in author_matches %}
                  <li>
                      <a href="{{ url_for('book', isbn=book.isbn, title=book.title, author=book.author, year=book.year, data=data) }}">
                          {{ book.title }} by {{ book.author }} with ISBN No. {{book.isbn}} published in the year {{book.year}}
                      </a>
                  </li>
                  {% else %}
                  <li>No results for search by author</li>
              {% endfor %}

          </ul>




  <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->



  <!--
    <p> All matching search results </p>

            <form method="post" >
              <div class="form-group">

                  <select autofocus class="form-log" name="book_choice2" style="width:50%" onchange="location = this.value;">
                    <option disabled="" selected="" value="">book</option>

                    {% if matches %}
                      {% for book in matches %}
                  <option value="{{ url_for('book', isbn=book.isbn, title=book.title, author=book.author, year=book.year, data=data) }}">  {{ book.title }} by {{ book.author }} with ISBN No. {{book.isbn}} published in the year {{book.year}}</option>
                  {% else %}
                  <option value="No matches found. Please try another entry"</option>
                    {% endfor %}
                      {% endif %}
                  </select>
              </div>
            </form>

    -->
   {% endblock %}
