{% extends "layout.html" %}

{% block title %}
    booksearchresult
{% endblock %}

{% block main %}

    <h1> Choose to search by Client or Matter(s) but not both</h1>



        <div >



           <ul>
                   {% for book in isbn_matches %}

                   <li>
                       <option value="{{ book.id }}">{{ book.title }} by {{ book.author }}</option>
                   {% endfor %}
                   </li>

    <li>

      {% for book in title_matches %}
          <option value="{{ book.book_id }}">{{ book.title }}</option>
      {% endfor %}

    </li>


    <li>

      {% for book in author_matches %}
          <option value="{{ book }}">{{ book.author }}</option>
      {% endfor %}

    </li>



</div>






{% endblock %}
