{% extends "layout.html" %}

{% block title %}
    Book Search
{% endblock %}

{% block main %}


    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1> Book Search Form</h1>

    <p>Search for a book by author, title and/or ISBN number</p>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/booksearchresult" method="post" >

        <!-- JL form starts here -->

         <div class="row ">

            <div class="col">

            <input autocomplete="on" autofocus class="form-control" name="title" placeholder="Title" type="text"  >
           </div>

         <div class="col" >
            <input autocomplete="on"  class="form-control" name="author" placeholder="Author" type="text"  >
         </div>


         <div class="col" >
            <input autocomplete="on"  class="form-control" name="isbn" placeholder="isbn" type="text" minlength="5" maxlength="14" >
        </div>

        </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit" ">Submit</button>


    </form>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



{% endblock %}
