{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}


              <!-- http://getbootstrap.com/docs/4.1/components/alerts/ -->
    <h1>Welcome to JO's Book Review APP!</h1>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-6">Jordan Lieber P.C.</h1>
              <ul class="navbar-nav ml-auto mt-2">
                  <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                  <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
              </ul>

            </div>
          </div>
            <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-5">
            <h2>Conduct a book search</h2>
            <p>Create a Matter Note Entry </p>
            <p><a class="btn btn-secondary" href="/booksearch" role="button">Enter Matter Note &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h2>Matter Search</h2>
            <p>Search for Matters by Client or Matter: </p>
            <p><a class="btn btn-secondary" href="/litsearch" role="button">Search Matters &raquo;</a></p>
          </div>

        </div>




            {% endblock %}
        </main>

        <footer class="small text-center text-muted">
            Developed by Jordan Lieber
        </footer>

    </body>

</html>
