{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}

              <!-- http://getbootstrap.com/docs/4.1/components/alerts/ -->
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-6">Welcome to JO's Book Review APP</h1>


          {% if session.user_id %}
          <div class="row d-flex justify-content-center">
            <div class="container">
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12">
                <div class="text-center">
                  <h2>Conduct a book search</h2>
                  <p>Click below </p>
                  <p><a class="btn btn-secondary" href="/booksearch" role="button">Book Search</a></p>
                </div>
              </div>
              </div>
            </div>

            </div>
          </div>

          {% else %}
        <!-- Example row of columns -->


        <div class="row d-flex justify-content-center">
          <div class="container">
            <div class="row">
              <!--Grid column-->
              <div class="col-md-12">
              <div class="text-center">

                <p>Login or Register Below </p>

                <div class="row  d-flex justify-content-center">

                <p><a class="btn btn-secondary" href="/login" role="button">Login</a></p>

                  <span> <br> </span>

                <p><a class="btn btn-secondary" href="/register" role="button">Register Here</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
          </div>
          </div>
            </div>
            {% endif %}
        </div>

            {% endblock %}
        </main>

        <footer class="small text-center text-muted">
            Developed by Jordan Lieber
        </footer>

    </body>

</html>
