{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}

              <!-- http://getbootstrap.com/docs/4.1/components/alerts/ -->
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-6">Welcome to JO's Book Review APP</h1>


          <div class="row d-flex justify-content-center">
            <div class="container">
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12">
                <div class="text-center">
                  <h2>Conduct a book search</h2>
                  <p>Click below </p>
                  <p><a class="btn btn-secondary" href="/booksearch" role="button">Book Search</a></p>
                </div>
              </div>
              </div>
            </div>

            </div>
          </div>

        <!-- Example row of columns -->




            {% endblock %}
        </main>

        <footer class="small text-center text-muted">
            Developed by Jordan Lieber
        </footer>

    </body>

</html>
